@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&family=Roboto:wght@100;300;400;500;900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.carousel-item {
    height: 35rem;
    color: #fff;
    overflow: hidden;
}


/* position: relative; */

.carousel-caption {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h1 {
    font-family: Poppins;
    font-size: 2.6rem;
    line-height: 1.5em;
}

.carousel-caption .edu-info {
    color: #ffff;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

.homepagebtn {
    background-color: rgb(182, 158, 25);
    margin-right: 4px;
    outline: none;
    border: none;
}

.homepagebtn:hover {
    cursor: pointer;
    color: #fff;
    background-color: blue;
}


/* ----------------------------------------------------
------------------styling the section quote -----------
--------------------------------------------------------*/

.bonus-courses {
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
}

.bonus-courses h3 {
    font-size: 25px;
    width: 450px;
    text-align: center;
    margin: 20px auto;
}

.bonus-courses ul li {
    list-style: none;
    margin-top: 20px;
}

.bonus-courses ul li a {
    text-decoration: none;
}

.lectures {
    background-color: #efefef;
    padding: 3.125rem 4.375rem;
}

.lectures-details h2 {
    font-size: 1.875rem;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
}

.lectures-details p {
    width: 43.75rem;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.video-tutorials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}


/* ----------------------------------------------------
------------------styling the section footer -----------
--------------------------------------------------------*/

.footer-icon {
    text-align: center;
}

.learning-footer {
    background-color: blue;
    padding: 40px;
}

.footer-icon i {
    margin: 0 auto;
    color: #fff;
    width: 30px;
    font-size: 23px;
}

.learning-footer p {
    text-align: center;
    color: #fff;
}